@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap');

body,html {
  margin: 0;
  height: 100;
  width: auto;
  background-color: #FEF9EF;
  color: black;
  font-family: 'League Spartan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-container{
  padding-top: 5vh;
}

.nav-item{
  color: #363636;
  font-size: 1.5rem;
}

.nav-item:hover{
  color: black;
  font-weight: bold;
}


.landing-title{
  letter-spacing: -.3rem;
  font-size: 15rem;
  font-weight: bolder;
  color: #000000;
  margin: auto;
  margin-bottom: 0;
  line-height: 80%;
}

.landing-subtitle{
  font-size: 3rem;
  color: #363636;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.landing-container {
  min-height: calc(100vh - 270px);
  display: flex;
  flex-wrap: wrap;
}

.landing-footer{
  padding: 3rem 1.5rem 1.5rem 3rem;
  background-color: #FEF9EF;
  margin-bottom: 0;
  font-size: 1.33rem;
}

.footer-link{
  color: #FE6D73;
}

.dph-title{
  font-size:9rem;
  font-weight: 700;
  line-height: 80%;
}

.dph-subtitle{
  font-size:2.5rem;
  font-weight: bold;
  line-height: 80%;
}